<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Payment</title>
</head>
<body style="background-image: url('/images/bus.jpg'); background-size: cover; background-size: 100% 100%; background-position: center; background-repeat: no-repeat;">
    <h2>Scan the QR Code to Complete Payment</h2>
    <div id="qrcode-container">
        <img src="\images\WhatsApp Image 2024-09-27 at 00.01.09_e4805468.jpg" alt="QR Code" width="200" height="200"> <!-- Replace with the actual QR code image path -->
    </div>
    <form action="/confirmation" method="POST">
        <button type="submit">Confirm Payment</button>
    </form>
</body>
</html>
