<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-image: url('/images/bus.jpg'); background-size: cover; background-size: 100% 100%; background-position: center; background-repeat: no-repeat;">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
